body {
    background-color: black;
    color: #0F0;
    font-family: 'monospace';
    margin: 0;
    overflow: hidden;
}

#matrix-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 45vh;
    text-shadow: 0 0 5px #0F0;
}
