body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1, p, div {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 40vh;
}
