.form-container {
    padding: 2rem;
    background-color: var(--color-canvas-overlay);
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    width: 100%;
    max-width: 340px;
    margin: 4rem auto;
}

.form-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container p {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    font-size: 0.875em;
}

.form-container a {
    color: var(--color-accent-fg);
    text-decoration: none;
    font-weight: 500;
}

.form-container a:hover {
    text-decoration: underline;
}
