.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #1e1e1e;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container p {
    margin-top: 20px;
}

.login-container a {
    color: #00aaff;
    cursor: pointer;
}
