.register-container {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: var(--background-light);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
    margin: 5rem auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.8em;
}

.register-container p {
    text-align: center;
    margin-top: 1.5rem;
    color: var(--text-secondary);
}

.register-container a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.register-container a:hover {
    text-decoration: underline;
}
